a{
    display: block;
    width: 100px;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    text-align: center;
    background-color: black;
    color: white;
}

a:hover{
    background-color: whitesmoke;
    color: black;
}

a:active{
    background-color: tomato;
}

a:visited{
    color: yellow;
}

.anterior{
    float: left;
}

.siguiente{
    float: right;
}