

h1{
    font-size: 50px;
    color: green;
}

.subtitulo_1{
    color: blue;
    font-size: 40px;
}

.subtitulo_2{
    color: red;
}

.subtitulo_3{
    color: aqua;
}

a{
    display: block;
    text-decoration: none;
    float: left;
    width: 500px;
    border: 1px solid orange;
    font-size: 40px;
}

.limpiar{
    clear: left;
}

.correo{
    font-size: 20px;
    border: none;
}