* {
    margin: 0;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
    color: orange;
}

.top{
    background-color: orange;
    border: 2px solid black;
    width: 800px;
    height: 140px;
    margin: 200px auto 10px;
    text-align: center;
    margin-top: 50px;
}

.container {
    
    
    width: 800px;
    height: 100vh;
    margin: 50px auto 20px;
}

#nombre, #descripcion, #buscar {
    width: 300px;
    height: 30px;
    margin-right: 100px;

    
    float: right;
}


.add {
    width: 40px;
    height: 40px;
    padding: 5px;
    float: right;
    margin-top: 45px;
    margin-bottom: 20px;
}

table {
    width: 800px;
    height: 20px;
    margin: 3px auto 20px;
}

thead {
    color: white;
    font-size: 20px;
    background-color: rgb(35, 86, 214);
}

tbody {
    background-color: rgba(168, 64, 23, 0.685);
}

td {
    border: 1px solid red;
    background-color: whitesmoke;
    color: black;
    font-size: 15px;
}


.menu-principal{
    background-color: rgb(58, 108, 233);
    color: white;
    font-size: 15px;
    border-radius: 10px;
    float: right;
    padding: 8px;
    margin-top: 10px;
    margin-right: 50px;
}

a{
    color: white;
    text-decoration: none;
    
}

.menu-principal:hover{
    background-color: rgba(46, 46, 197, 0.915);
}